
.inter-font> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.color-primary{
    color: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
}

header{
    background-color: #1A0B2E;
}

nav{
    width: 1600px;
    height: 92px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
   
}

nav .menu{

    
    display: flex;
    justify-content:center;
    align-items: center;
    list-style-type: none;
    gap: 32px;
    margin:0 auto;
    width: 13%;
    max-width: 400px;
}

nav .menu a{
    
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
    text-decoration: none;
    color: #FFFFFF;
   
}

nav .button {
   
    margin-right: 200px;
    border-radius:  10000px;    
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
    width: 165px;
    
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 12px 10px ;
    text-decoration: none;
    list-style-type: none;
    font-weight: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #FFFFFF;
    border: none;
    cursor: pointer ;

}


/* nav .button{
     margin-right: 150px;
    border-radius:  10000px;    
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);

   list-style-type: none;
   border: none;
} */


.btn{
    background-color: aqua;
    border: none;
    padding: 12px 20px;
    border-radius: 10000px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;


}

.btn1{
    background:none;
    border: 1px solid #00FF88;
    padding: 12px 20px;
    border-radius: 10000px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
    color: #00FF88;
    margin-top: 24px;
   
}



#banner{
    border: 2px solid red;
    background-image: url(../assets/hero-bg.png);
    width: 1600px;
    height: 760px;
}

#banner .bannerall{
    border: 1px solid #0800ff;
    width: 550px;
    height: 560px;
    margin: 100px 525px;
}

#banner .bannerall .banner-image img{
    border: 1px solid salmon;
    width: 350px;
    height: 350px;
    margin-left: 100px;

} 





#banner .banner-containt{
    border: 2px solid greenyellow;
    width: 550px;
    height: 170px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 40px;
}

#banner .banner-containt h2{
    font-size: 60px;
    font-weight: 800;
}

#about{
    border: 1px solid orange;
    width: 1600px;
    height: 646px;
}
.about-text{
    border: 1px solid tomato;
    width: 1200px;
    height: 222px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 50px;
}
.about-text h2{
    font-size: 48px;
    margin-bottom: 15px;
}
.about-text p{
    font-size: 16px;
    line-height: 1.8;
}
.big{
    display: block;
    margin-top: 2rem;
}

.about-num{
    border: 1px solid aqua;
     width: 1200px;
    height: 94px;
    margin-top: 160px;
    display: grid;
    grid-template-columns:repeat(4, 1fr) ;
    text-align: center;

}
.about-num h2{
    color: #00FF88;
    font-size: 48px;
}
.about-num p{
    color: #FFFFFF;
}

#choose{
    border:  1px solid gold;
    width: 1600px;
    height: 1121px;
}

.big-card{
    grid-column: span 1;
    grid-row: span 2;
    margin-top: 2rem;
     width: 380px;
     height: 480px;
     padding: 40px;
     border-radius: 40px;
     background-color: rgba(255, 255, 255, 0.034);
    border: 1px solid gold;
}

.normal-card{
    grid-column: span 1;
    grid-row: span 1;
    margin-top: 2rem;
    width: 380px;
     height: 220px;
    padding: 40px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.034);
    border: 1px solid gold;
}

    .wide-card{
        grid-column: span 2;
        grid-row: span 1;
        margin-top: 2rem;
         width: 790px;
         height: 220px;
         border-radius: 40px;
              background-color: rgba(255, 255, 255, 0.034);
           padding: 40px;
         box-shadow: #351165;
        border: 1px solid gold;
    }
    .text1{
    display: block;
    margin-top: 1.5rem;
}

    .text{
        line-height: 1.2rem;
        margin-top: 1rem;
    }
    .head{
        width: 1200px;
        height: 58px;
       margin-top: 100px;
       font-size: 1.8rem;
       text-align: center;
        border:1px solid #00FF88;
    }
.card{
    border: 1px solid silver;
    width: 1200px;
    height: 783px;
    margin: 40px auto;
    display: grid;
    gap: 7px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    color: #FFFFFF;
}
#choose h2{
    color: #FFFFFF;
    
}

#feature{
    width: 1600px;
    height: 1275px;
    border:  1px solid silver;
}
.episode{
    width: 1200px;
    height: 440px;
    
    border: 1px solid red;
}

.wide-host{
       
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 30rem;
         width: 1200px;
         height: 220px;
         border-radius: 30px;
        background-color: rgba(255, 255, 255, 0.034);
         box-shadow: #351165;
        border: 1px solid gold;
    }

    .host{
         margin-bottom: 50px;
    }
    .host .host-img{
        width: 200px;
        height: 200px;
        margin-left: 40px;
        border:  1px solid olive;
    }
    .host-contant{
        color: #FFFFFF;
        width: 896px;
        height: 183px;
       align-items: center;
        border:  1px solid red;
    }
    .host-contant h3{
        margin-bottom: 20px;
    }
    .host-contant p{
        line-height: 1.2rem;
    }
    #feature h1{
        color: #FFFFFF;
        text-align: center;
        border:  1px solid blue;
    }
    .textb{
        margin-bottom: 25rem;
        height: 0px;
    }


    #footer{
        width: 1600px;
        height: 412px;
        background-image: url(../assets/footer-bg.png);
        border:  1px solid orange;
    }
    .footer-content{
        width: 1360px;
        height: 172px;
        margin: 120px;
        border: 1px solid olive;
    }
    .footer-content h1{
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 20px;
        font-size: 55px;
    }
    .footer-content p{
        color: #FFFFFF;
        text-align: center;
         
    }
    .footer-content h4{
        color: #FFFFFF;
        text-align: center;
        margin-top: 30px;
    }
    .footer-img{
        width: 600px;
        height: 24px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border:1px solid #00FF88;
    }
    .imgf{
         width: 40px;
        height: 15px;
        gap: 5px;
        display: flex;
        flex-direction: row;
    }
    